.features {
  display: flex;
  align-items: center;
  padding: 7rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.topPageLink {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 6%);
  height: 100% !important;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  transition: .4s !important;
}
/* 
.topPageLink:after {
  -webkit-font-feature-settings: "liga";
  bottom: 3rem;
  color: var(--silverColor);
  content: "arrow_upward";
  font-family: Material Icons;
  font-size: 1.5rem;
  left: 50%;
  opacity: 1;
  opacity: 0;
  position: absolute;
  transform: translate(-50%);
  transition: .2s ease-in-out;
}*/

.topPageLink:hover {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 10%);
  transform: translateY(-1rem);
  text-decoration: unset;
}

[data-theme='dark'] .topPageLink {
  background: #303846;
}

.largeText {
  font-weight: 700!important;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.smallText {
  font-size: 80%;
  font-weight: 400;
  color: #6c757d!important;
}