.features {
  display: flex;
  align-items: center;
  padding: 7rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.topPageLink {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 6%);
  height: 95% !important;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s !important;
}

.topPageLink {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 6%);
  height: 95% !important;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s !important;
}

.topPageLink:hover {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 10%);
  transform: translateY(-1rem);
  text-decoration: unset;
}

[data-theme='dark'] .topPageLink {
  background: #303846;
}

.largeText {
  font-weight: 700!important;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.0;
}

.smallText {
  font-size: 80%;
  font-weight: 400;
  color: #6c757d!important;
}